a{
  width: 100%;
}
.root{
  height: 100vh;
}
.container{
  height: 100vh;
}
.flex-d{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-left{
  justify-content: flex-start !important;
  align-items: flex-start;
}
.w-50{
  min-width: 50vw;
  height: 100%;
}
.drawer-button{
  padding: 20px 10px !important;
  padding-left: 20px !important;
  padding-right: 0 !important;
  margin: 3px 0 !important;
  width: 100%;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}